.topheader{
  display:flex;
  margin: auto;
  justify-content:center;
  flex-direction: column;
  height: 400px;
  width:100%;
  background-color: #f5a442;
background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  
}
.avatar{
  display:flex;
  justify-content: center;
  
}
.name{
  display:flex;
  justify-content: center;
  
  
}
@media only screen and (min-width:1024px){
  .topheader{
    margin: 64.25px;
    padding-top: 15px;
  }
}
