nav{
  display:flex;
  justify-content: space-between;
  align-items:center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding:1.5em;


  position: sticky;
  top: 0;
  width:100%;


}

nav > span{
  font-family: 'Bungee', cursive;
}
@media only screen and (max-width: 1024px) {
  nav{
    background-color: #f5a442;
  }
}